---
const factResponse = await fetch('https://dog-api.kinduff.com/api/facts');
const factData = await factResponse.json();
const dogFact = factData.facts[0];

const imageResponse = await fetch('https://random.dog/woof.json');
const imageData = await imageResponse.json();
const dogMediaUrl = imageData.url;

// the random dog api sometimes gives a video
const isVideo = dogMediaUrl.endsWith('.mp4') || dogMediaUrl.endsWith('.webm');

// Generate a random number between 100 and 9999
const randomNumber = Math.floor(Math.random() * (9999 - 100 + 1)) + 100;
---

<div class="min-h-screen flex items-center justify-center bg-base-200">
  <div class="card card-compact bg-base-100 w-96 shadow-xl">
    <figure>
      {isVideo ? (
        <video class="w-full h-64 object-cover" src={dogMediaUrl} autoplay loop></video>
      ) : (
        <img src={dogMediaUrl} class="w-full h-64 object-cover"/>
      )}
    </figure>
    <div class="card-body">
      <h2 class="card-title">Dog Fact #{randomNumber}</h2>
      <p>{dogFact}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" onclick="window.location.reload()">Show me another</button>
      </div>
    </div>
  </div>
</div>
